.right-box,.left-box{
  box-sizing: content-box;
}

.left-box{
  
  width: 20%;
  
}

.top-box, .bottom-box{
 height: 50%;
  
}

.fdays{
  background-color: rgb(89, 105, 184);
  background-image: linear-gradient(rgba(255, 104, 4, 0.89) 1%, rgba(255, 238, 0, 0.637) 40%, white 50%, blue 100%);

}